{% extends "::base.html.twig" %}

{% block body %}

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('text_create') }}">Nouveau texte</a>
    </div>
    <br>
    
    <ul>
        {% for text in texts %}
            <li><a href="{{ path('text_show_slug', { slug: text.slug }) }}">{{ text.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
