{% extends "::base.html.twig" %}

{% block contextMenu %}
    <div class="text-center">
        <a class="btn btn-primary navbar-btn btn-sm" href="{{ path('text_create') }}">Nouveau texte</a>
    </div>
{% endblock %}

{% block body %}
    
    <ul>
        {% for text in texts %}
            <li><a href="{{ path('text_show_slug', { slug: text.slug }) }}">{{ text.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
