<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Le Cahier Noir{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/libs/bootstrap/dist/css/bootstrap.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            #main {
                max-width: 768px;
            }
        </style>
    </head>
    <body>
        <div id="main" class="container">
            <h1><a href="/">Le Cahier Noir</a></h1>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('/libs/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
